In [9]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [69]:
link = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
data = pd.read_csv(link)

#dislay the data given
df.head(78)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

## Calculate for the overall descriptive statistic of the given data

In [64]:
# Calculate for the number of valid values for each column
valid_data = data.count()
print("Valid data for each column:\n", valid_data)

Valid data for each column:
 rank          78
discipline    78
phd           78
service       78
sex           78
salary        78
dtype: int64

In [34]:
# Calculate the number of missing or null values for each column
missing_value = data.isnull().sum()
print("Missing value:\n", missing_value)

Missing value:
 rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [36]:
# Calculate the median
median = np.median(data['salary'])
print("Median:", median)

Median: 104671.0

In [39]:
# Calculate the mean
mean = np.mean(data['salary'])
print("Mean:",mean)

Mean: 108023.78205128205

In [45]:
# Calculate the standard error of the mean for each column
std_error_mean = np.std(data['salary']) / np.sqrt(len(data))
print("Std. Error of Mean:", std_error_mean)

Std. Error of Mean: 3183.023946914264

In [51]:
# Calculate the standard deviation for each column
std_deviation = np.std(data['salary'])
print("Std. Deviation:", std_deviation)

Std. Deviation: 28111.706330941804

In [52]:
# Calculate the coefficient of variation for each column      
coefficient_of_variation = std_deviation / mean
print("Coefficient of variation:", coefficient_of_variation)

Coefficient of variation: 0.306273676294872

In [57]:
# Calculate the skewness for each column      
skewness = data['salary'].skew()
print("Skewness:", skewness)

Skewness: 0.45210256755588096

In [65]:
# Calculate the standard error of skewness for each column      
std_error_skewness = data['salary'].apply(np.log).skew() / np.sqrt(len(data))
print("Std. Error of Skewness:", std_error_skewness)

Std. Error of Skewness: -0.006429417421711643

In [59]:
# Calculate the kurtosis for each column      
kurtosis = data['salary'].kurt()
print("Kurtosis:", kurtosis)

Kurtosis: -0.4017126758820546

In [61]:
# Calculate the standard error of kurtosis for each column      
std_error_kurtosis = np.sqrt(24 / len(data))
print("Std. Error of Kurtosis:", std_error_kurtosis)

Std. Error of Kurtosis: 0.5547001962252291

In [61]:
# Calculate the minimum value for each column      
minimum = np.min(data['salary'])
print("Minimum:", minimum)

Minimum: 57800

In [62]:
# Calculate the maximum value for each column
maximum = np.max(data['salary'])
print("Maximum:", maximum)

Maximum: 186960

In [55]:
# Calculate for all percentile      
percentiles = np.percentile(data['salary'], [10, 20, 30, 40, 50, 60, 70, 80, 90, 25, 50, 75])
print("10th percentile:", percentiles[0])
print("20th percentile:", percentiles[1])
print("30th percentile:", percentiles[2])
print("40th percentile:", percentiles[3])
print("50th percentile:", percentiles[4])
print("60th percentile:", percentiles[5])
print("70th percentile:", percentiles[6])
print("80th percentile:", percentiles[7])
print("90th percentile:", percentiles[8])
print("25th percentile:", percentiles[9])
print("50th percentile:", percentiles[10])
print("75th percentile:", percentiles[11])

10th percentile: 73440.0
20th percentile: 79190.0
30th percentile: 91120.0
40th percentile: 98940.8
50th percentile: 104671.0
60th percentile: 110066.2
70th percentile: 122904.0
80th percentile: 130323.0
90th percentile: 150486.0
25th percentile: 88612.5
50th percentile: 104671.0
75th percentile: 126774.75

## Now, We will find the descriptive statistic for AssocProf

In [63]:
link = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
data = pd.read_csv(link)

#separate the data by rank
rank1_data = data[data['rank'] == 'AssocProf']

In [64]:
valid_count = rank1_data.count()
print("Valid data for each column:\n", valid_count)

Valid count:
 rank          13
discipline    13
phd           13
service       13
sex           13
salary        13
dtype: int64

In [65]:
missing_count = rank1_data.isnull().sum()
print("Missing count:\n", missing_count)

Missing count:
 rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [66]:
median = np.median(rank1_data['salary'])
print("Median:", median)

Median: 103613.0

In [67]:
mean = np.mean(rank1_data['salary'])
print("Mean:", mean)

Mean: 91786.23076923077

In [68]:
std_error_mean = np.std(rank1_data['salary']) / np.sqrt(len(rank1_data))
print("Std. Error of Mean:", std_error_mean)

Std. Error of Mean: 4948.651345956037

In [69]:
std_deviation = np.std(rank1_data['salary'])
print("Std. Deviation:", std_deviation)

Std. Deviation: 17842.616172238377

In [70]:
coefficient_of_variation = std_deviation / mean
print("Coefficient of variation:", coefficient_of_variation)

Coefficient of variation: 0.19439316793712053

In [71]:
skewness = rank1_data['salary'].skew()
print("Skewness:", skewness)

Skewness: -0.15119975197172433

In [ ]:
std_error_skewness = rank1_data['salary'].apply(np.log).skew() / np.sqrt(len(rank1_data))
print("Std. Error of Skewness:", std_error_skewness)

In [80]:
kurtosis = rank1_data['salary'].kurt()
print("Kurtosis:", kurtosis)

Kurtosis: -1.614148500974565

In [81]:
std_error_kurtosis = np.sqrt(24 / len(rank1_data))
print("Std. Error of Kurtosis:", std_error_kurtosis)

Std. Error of Kurtosis: 1.3587324409735149

In [83]:
minimum = np.min(rank1_data['salary'])
print("Minimum:", minimum)

Minimum: 62884

In [72]:
maximum = np.max(rank1_data['salary'])
print("Maximum:", maximum)

Maximum: 119800

In [86]:
percentiles = np.percentile(rank1_data['salary'], [10, 20, 30, 40, 50, 60, 70, 80, 90, 25, 50, 75])

print("10th percentile:", percentiles[0])
print("20th percentile:", percentiles[1])
print("30th percentile:", percentiles[2])
print("40th percentile:", percentiles[3])
print("50th percentile:", percentiles[4])
print("60th percentile:", percentiles[5])
print("70th percentile:", percentiles[6])
print("80th percentile:", percentiles[7])
print("90th percentile:", percentiles[8])
print("25th percentile:", percentiles[9])
print("50th percentile:", percentiles[10])
print("75th percentile:", percentiles[11])

10th percentile: 71512.0
20th percentile: 73912.0
30th percentile: 76432.0
40th percentile: 80528.0
50th percentile: 103613.0
60th percentile: 103798.8
70th percentile: 104213.2
80th percentile: 106021.6
90th percentile: 109121.6
25th percentile: 74830.0
50th percentile: 103613.0
75th percentile: 104542.0

## Now, We will find the descriptive statistic for AsstProf

In [7]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

link = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
data = pd.read_csv(link)

#separate the data by rank
rank2_data = data[data['rank'] == 'AsstProf']

In [73]:
valid_count = rank2_data.count()
print("Valid data for each column:\n", valid_count)

Valid count:
 rank          19
discipline    19
phd           19
service       19
sex           19
salary        19
dtype: int64

In [74]:
missing_count = rank2_data.isnull().sum()
print("Missing count:\n", missing_count)

Missing count:
 rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [11]:
median = np.median(rank2_data['salary'])
print("Median:", median)

Median: 78500.0

In [13]:
mean = np.mean(rank2_data['salary'])
print("Mean:", mean)

Mean: 81362.78947368421

In [21]:
std_error_mean = np.std(rank2_data['salary']) / np.sqrt(len(rank2_data))
print("Std. Error of Mean:", std_error_mean)

Std. Error of Mean: 2094.8027899946183

In [39]:
std_deviation = np.std(rank2_data['salary'])
print("Std. Deviation:", std_deviation)

Std. Deviation: 9131.033668233598

In [22]:
coefficient_of_variation = std_deviation / mean
print("Coefficient of variation:", coefficient_of_variation)

Coefficient of variation: 0.11222616293394068

In [27]:
skewness = rank2_data['salary'].skew()
print("Skewness:", skewness)

Skewness: 0.030503748722733107

In [46]:
std_error_skewness = rank2_data['salary'].apply(np.log).skew() / np.sqrt(len(rank2_data))
print("Std. Error of Skewness:", std_error_skewness)

Std. Error of Skewness: -0.03734447792073725

In [ ]:
kurtosis = rank2_data['salary'].kurt()
print("Kurtosis:", kurtosis)

In [75]:
std_error_kurtosis = np.sqrt(24 / len(rank2_data))
print("Std. Error of Kurtosis:", std_error_kurtosis)

Std. Error of Kurtosis: 1.1239029738980326

In [30]:
minimum = np.min(rank2_data['salary'])
print("Minimum:", minimum)

Minimum: 63100

In [25]:
maximum = np.max(rank2_data['salary'])
print("Maximum:", maximum)

Maximum: 97032

In [24]:
percentiles = np.percentile(rank2_data['salary'], [10, 20, 30, 40, 50, 60, 70, 80, 90, 25, 50, 75])

print("10th percentile:", percentiles[0])
print("20th percentile:", percentiles[1])
print("30th percentile:", percentiles[2])
print("40th percentile:", percentiles[3])
print("50th percentile:", percentiles[4])
print("60th percentile:", percentiles[5])
print("70th percentile:", percentiles[6])
print("80th percentile:", percentiles[7])
print("90th percentile:", percentiles[8])
print("25th percentile:", percentiles[9])
print("50th percentile:", percentiles[10])
print("75th percentile:", percentiles[11])

10th percentile: 72500.0
20th percentile: 73300.0
30th percentile: 74832.8
40th percentile: 77100.0
50th percentile: 78500.0
60th percentile: 84045.0
70th percentile: 89800.0
80th percentile: 91580.0
90th percentile: 92000.0
25th percentile: 74096.0
50th percentile: 78500.0
75th percentile: 91150.0

## Now, We will find the descriptive statistic for Prof

In [31]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

link = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
data = pd.read_csv(link)

#separate the data by rank
rank3_data = data[data['rank'] == 'Prof']

In [33]:
valid_count = rank3_data.count()
print("Valid data for each column:\n", valid_count)

Valid count:
 rank          46
discipline    46
phd           46
service       46
sex           46
salary        46
dtype: int64

In [76]:
missing_count = rank3_data.isnull().sum()
print("Missing count:\n", missing_count)

Missing count:
 rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [35]:
median = np.median(rank3_data['salary'])
print("Median:", median)

Median: 123321.5

In [36]:
mean = np.mean(rank3_data['salary'])
print("Mean:", mean)

Mean: 123624.80434782608

In [38]:
std_error_mean = np.std(rank3_data['salary']) / np.sqrt(len(rank3_data))
print("Std. Error of Mean:", std_error_mean)

Std. Error of Mean: 3623.9304065231213

In [42]:
std_deviation = np.std(rank3_data['salary'])
print("Std. Deviation:", std_deviation)

Std. Deviation: 24578.691852921107

In [43]:
coefficient_of_variation = std_deviation / mean
print("Coefficient of variation:", coefficient_of_variation)

Coefficient of variation: 0.198816831157665

In [44]:
skewness = rank3_data['salary'].skew()
print("Skewness:", skewness)

Skewness: 0.07030880414867173

In [47]:
std_error_skewness = rank3_data['salary'].apply(np.log).skew() / np.sqrt(len(rank3_data))
print("Std. Error of Skewness:", std_error_skewness)

Std. Error of Skewness: -0.10967329991091015

In [48]:
kurtosis = rank3_data['salary'].kurt()
print("Kurtosis:", kurtosis)

Kurtosis: 0.20133870835405743

In [49]:
std_error_kurtosis = np.sqrt(24 / len(rank3_data))
print("Std. Error of Kurtosis:", std_error_kurtosis)

Std. Error of Kurtosis: 0.7223151185146152

In [50]:
minimum = np.min(rank3_data['salary'])
print("Minimum:", minimum)

Minimum: 57800

In [51]:
maximum = np.max(rank3_data['salary'])
print("Maximum:", maximum)

Maximum: 186960

In [53]:
percentiles = np.percentile(rank3_data['salary'], [10, 20, 30, 40, 50, 60, 70, 80, 90, 25, 50, 75])

print("10th percentile:", percentiles[0])
print("20th percentile:", percentiles[1])
print("30th percentile:", percentiles[2])
print("40th percentile:", percentiles[3])
print("50th percentile:", percentiles[4])
print("60th percentile:", percentiles[5])
print("70th percentile:", percentiles[6])
print("80th percentile:", percentiles[7])
print("90th percentile:", percentiles[8])
print("25th percentile:", percentiles[9])
print("50th percentile:", percentiles[10])
print("75th percentile:", percentiles[11])

10th percentile: 93675.0
20th percentile: 103275.0
30th percentile: 108473.0
40th percentile: 116450.0
50th percentile: 123321.5
60th percentile: 127512.0
70th percentile: 135889.0
80th percentile: 148750.0
90th percentile: 154750.0
25th percentile: 105112.5
50th percentile: 123321.5
75th percentile: 143512.25